db_info
configure
Makefile.in
Makefile
config.log
depcomp
config.guess
config.h
ltmain.sh
config.sub
.libs
.deps
oldmake
stamp-h.in
test
mkinstalldirs
ChangeLog
config.status
stamp-h1
config.h.in
autom4te.cache
libtool
missing
stamp-h
aclocal.m4
install-sh
*.so
*.lo
*.o
*.la