acinclude.d/libtool.m4
acinclude.d/ltoptions.m4
acinclude.d/ltsugar.m4
acinclude.d/ltversion.m4
acinclude.d/lt~obsolete.m4
db_info
configure
Makefile.in
Makefile
config.log
depcomp
config.guess
config.h
ltmain.sh
config.sub
.libs
.deps
oldmake
stamp-h.in
test
mkinstalldirs
ChangeLog
config.status
stamp-h1
config.h.in
autom4te.cache
libtool
missing
stamp-h
aclocal.m4
install-sh
*.so
*.lo
*.o
*.la
*.gcov
*.gcno
*.gcda
doc/*
coverage/*
coverage.info
