<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="/css/syntax.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="http://findingscience.com/atom.xml">
  </head>
  <body>
    <div id="header">
      <div>FindingScience</div>
      <div id="subheader">when I grow up I want to be a computer scientist</div>
      <div id="menu">
	<ul>
	  <li><a href="/">blog</a></li>
	  <li><a href="/projects">projects</a></li>
	  <li><a href="/about">about</a></li>
	  <li><a href="/archive">archive</a></li>
	</ul>
      </div>
    </div>
    <div id="content">
      {{ content}}
    </div>
    <div id="footer"></div>
  </body>
</html>
