<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="css/syntax.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="header">
      <div>mod_auth_openid</div>
      <div id="subheader">the openid module for apache</div>
      <div id="menu">
	<ul>
	  <li><a href="index.html">home</a></li>
	  <li><a href="faq.html">faq</a></li>
	  <li><a href="releases.html">releases</a></li>
	</ul>
      </div>
    </div>
    <div id="content">
      {{ content}}
    </div>
    <div id="footer"></div>
  </body>
</html>
